[Unit]
Description=calicoctl node
After=docker.service
Requires=docker.service

[Service]
User=root
EnvironmentFile=/etc/calico-node.env
Environment="ETCD_AUTHORITY=127.0.0.1:6666"
PermissionsStartOnly=true
ExecStart=/usr/bin/calicoctl node --detach=false --ip=${DEFAULT_IPV4}
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
